p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.proposition p strong{
  color: #266f47;  /* azul */
  font-weight: bold;
}

.theorem p strong{
  color: #e59c3e;  /* azul */
  font-weight: bold;
}

.definition p strong{
  color: #d57da0;  /* azul */
  font-weight: bold;
}